/*------Global Sections------*/
section,
.section
  --background-color: #12120e;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;


/*------About Section------*/

.about .container
  @media (max-width: 768px)
        margin-top: 80px;


.about .content h2
  color: var(--heading-color);
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;


.about .content ul
  list-style: none;
  padding: 0;


.about .content ul li
  margin-bottom: 20px;
  display: flex;
  align-items: center;


.about .content ul strong
  margin-right: 10px;


.about .content ul i
  font-size: 16px;
  margin-right: 5px;
  color: var(--accent-color);
  line-height: 0;


/*------Stats Section------*/
.stats i
  background-color: var(--surface-color);
  color: var(--accent-color);
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  width: 54px;
  height: 54px;
  font-size: 24px;
  border-radius: 50px;
  border: 2px solid var(--background-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;


.stats .statistics
  margin-top: -60px;


.stats .stats-item
  background-color: var(--surface-color);
  margin-top: -27px;
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 0;


.stats .stats-item span
  font-size: 36px;
  display: block;
  font-weight: 700;
  color: color-mix(in srgb, var(--default-color), transparent 20%);


.stats .stats-item p
  padding: 0;
  margin: 0;
  font-family: var(--heading-font);
  font-size: 16px;


/*------Testimonials Section------*/
.testimonials .container
  @media (max-width: 768px)
    margin-top: 0px;

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider
  overflow: hidden;


.testimonials .testimonial-item
  box-sizing: content-box;
  min-height: 320px;


.testimonials .testimonial-item .testimonial-img
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid var(--background-color);


.testimonials .testimonial-item h3
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;


.testimonials .testimonial-item h4
  font-size: 14px;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin: 0 0 0 45px;


.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right
  color: color-mix(in srgb, var(--accent-color), transparent 50%);
  font-size: 26px;
  line-height: 0;


.testimonials .testimonial-item .quote-icon-left
  display: inline-block;
  left: -5px;
  position: relative;


.testimonials .testimonial-item .quote-icon-right
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);


.testimonials .testimonial-item p
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: var(--surface-color);
  border-radius: 6px;
  position: relative;
  z-index: 1;


.testimonials .swiper-wrapper
  height: auto;


.testimonials .swiper-pagination
  margin-top: 20px;
  position: relative;


.testimonials .swiper-pagination .swiper-pagination-bullet
  width: 12px;
  height: 12px;
  background-color: var(--background-color);
  opacity: 1;
  border: 1px solid var(--accent-color);


.testimonials .swiper-pagination .swiper-pagination-bullet-active
  background-color: var(--accent-color);


div .testimonial-item
  margin-bottom: 40px


/*------Scroll Top Button------*/
.scroll-top
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
  display: flex;
  align-items: center;      /* vertical center */
  justify-content: center;


.scroll-top i
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 1.8;
  padding: 10px;


.scroll-top:hover
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);


.scroll-top.active
  visibility: visible;
  opacity: 1;
  bottom: 15px;


.title
  text-align: center;

.title span
  display: block;

